# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pycache
*.egg-info/
*.venv
.venv/
.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
.terraform/

# Node / JS
node_modules/
*.log

# OS / Editor
.DS_Store
.idea/
.vscode/
